<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dispatcherapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DispatcherApp"
        android:usesCleartextTraffic="true">
        <activity android:name=".ReportsActivity"
            android:parentActivityName=".MenuActivity"/>
        <activity android:name=".WorksActivity"
            android:parentActivityName=".MenuActivity"/>
        <activity
            android:name=".DriverDialogActivity"
            android:parentActivityName=".MessagesActivity" />
        <activity
            android:name=".MessagesActivity"
            android:parentActivityName=".MenuActivity" />
        <activity
            android:name=".MapActivity"
            android:parentActivityName=".MenuActivity" />
        <activity android:name=".MenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>